flasp{
  font:13px/1.231 arial,helvetica,clean,sans-serif;
}


body {
  
  color:#b2b5b4
}

html {
  background-color: #1d1f21;
}

table {
  border-collapse: collapse;
}
tr { 
  border: solid;
  border-width: 15x 
}
td{
    border: solid;
    border-width: 15x;
}



#remove {
    border-color: white;
    background-color: white;
    border-inline-color: white;
}

#submissions{
  

  
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  
}

#datetext {
  font-size: 10px;
}

#gets{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

}

#sub {
  background-color:#b2b5b4;
  border: #b2b5b4;
  color:#282a2e;
}

#sub:active {
  background-color:#dbdbdb;

}
#sub:hover {
  background-color:#dbdbdb;

}

#posts{
  background-color: #282a2e;
  justify-content: center;
  width: 20%;
  margin: 0 auto;
}


#imgthing{
  height: 100%; 
  width: 100%; 
  object-fit: contain
}

#youtube {

  width: 100%; 
  object-fit: contain
}
