table {
  border-collapse: collapse;
}
tr { 
  border: solid;
  border-width: 15x 
}
td{
    border: solid;
    border-width: 15x;
}

#remove {
    border-color: white;
    background-color: white;
    border-inline-color: white;
}

#submissions{
  
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  
}

#gets{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

}