<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Very secure admin terminal</title>
        <meta charset="utf-8">
        <link rel="shortcut icon" href="{{ url_for('static', filename='icon.png') }}">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
    </head>
    <body>
        <h1>Very secure admin terminal</h1>
        <form method="POST" action="/delete"> 
        <input type="submit" value="Press here to delete entire database"></input>
        </form>
        <br>
        <form method="POST" action="/deleteid">
        <label>enter which row to delete with coloumn id</label>
        <input type="text" id="idform" name="idform">
        <input type="submit" value="submit">
        </form>

        <br>
        <br>

        <a href="/">
            <button>Return to main website</button>
        </a>

    </body>
</html>