<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Very secure admin terminal</title>
        <meta charset="utf-8">
        <link rel="shortcut icon" href="{{ url_for('static', filename='icon.png') }}">
        <link id="darkmode" rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='darkmode.css') }}" disabled>
        <link id="lightmode" rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='lightmode.css') }}" disabled>
    </head>
    <body>
        
        <h1>Very secure admin terminal</h1>


        <form method="POST" action="/delete"> 
            <input type="submit" id="sub" value="Press here to delete entire database"></input>
        </form>


        <br>


        <form method="POST" action="/deleteid">
            <label>enter which row to delete with coloumn id</label>
            <input type="text" id="idform" name="idform">
            <input type="submit" value="submit" id="sub">
        </form>

        <br>
        <form method="POST" action="/deleteaccount">
            <label>enter which account to delete with coloumn id</label>
            <input type="text" id="idform" name="accountid">
            <input type="submit" value="submit" id="sub">
        </form>
        <br>
        <br>

        <a href="/">
            <button>Return to the board</button>
        </a>
        
        <script src="{{ url_for('static', filename='indexjs.js') }}"></script>

    </body>
</html>