<!DOCTYPE html>
<html lang="en">
    <head>
        
        <title>Message Board</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge" http-equiv="Content-Security-Policy" content="default-src 'self'; img-src https://*; child-src 'none';">
        <link id="darkmode" rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='darkmode.css') }}?version=1" disabled>
        <link id="lightmode" rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='lightmode.css') }}?version=2" disabled>
        <link rel="shortcut icon" href="{{ url_for('static', filename='icon.png') }}">

    </head>

    <h1>Message Board</h1>

    <body>
        <form method="POST" action="/add_message" id="form">
            <label>Message:</label>
            <input type="text" id="usernameinput" name="Username"  required>
            <label>Add URLs for Images or Youtube videos:</label>
            <input type="url" id="imgurlinput" name="imgurl">
            <input id="sub" type="submit" required value="Submit message">
       </form>
       <br>



    <a  href="/options">
    <button id="sub">Options</button >
    </a>
    <br>
    <a  href="/login">
        <button id="sub">Login</button >
    </a>
    <br>
    <a  href="/signup">
        <button id="sub">Create Account</button >
    </a>
    <br>
    <a  href="/logout">
        <button id="sub">logout</button >
    </a>
    <br>
    <label>Current User: {{ curuser.username }}</label>
    
    <div id="submissions">
    <h2>Posts:</h2>                                                                                                                                                 
    <br>
    {% for post in posts %}
    <div id="killyourselfrightnow">
        <p><b>{{post.username}}:</b></p>
        {% if post.imageurl.startswith("https://www.you") == True %}
        <iframe src={{post.imageurl}} id="youtube" ></iframe>
        {% elif post.imageurl == "" %}

        {% else %}
        <img id="imgthing" src={{post.imageurl}}>
        {% endif %}
        <p>{{post.message}}</p>
        <p id="datetext">Nr:{{post.id}} Posted on: {{post.date_posted}}</p>
    </div>
    <br>
    {% endfor %}
    </div>

    <a href="https://github.com/zeroIQ2018/Msg-Board">Github Repository Flaskboard</a>

    <script>
        if (localStorage.getItem('mode') == "1") 
            {
                document.getElementById("darkmode").disabled = false;
            }
        else {
                document.getElementById("lightmode").disabled = false;
            }

    </script>
    <script src="{{ url_for('static', filename='indexjs.js') }}"></script>
    </body>
</html>
