<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Message Board</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='icon.png') }}">
    </head>

    <h1>Message Board</h1>

    <body>
        <form method="POST" action="/add_message" id="form">
            <label>Username:</label>
            <input type="text" id="messageinput" name="Content" required>
            <label>Message:</label>
            <input type="text" id="usernameinput" name="Username" required>
            <label>URL for image:</label>
            <input type="url" id="imgurlinput" name="imgurl">
            <input id="sub" type="submit" required value="Submit message" >
       </form>


    <div id="submissions">
    <h2>Posts:</h2>                                                                                                                                                 
    <br>

    {% for post in posts %}
    
    <div id="killyourselfrightnow">  
    <p><b>{{post.username}}:</b></p>
    <img id="imgthing" src={{post.imageurl}}>
    <p>{{post.message}}</p>
    <p id="datetext"> Nr: {{ post.id }} Posted on:{{post.date_posted}}</p>
    </div>
    <br>

    {% endfor %}
    </div>


    <script src="{{ url_for('static', filename='indexjs.js') }}"></script>
    </body>
</html>
