<!DOCTYPE html>
<html lang="en">
    <head>
    <title></title>
    <meta charset="utf-8">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
    </head>

    <h1>Message Board</h1>

    <body>
        <form method="POST" action="/add_message" id="form">
            <label>Username:</label>
            <input type="text" id="messageinput" name="Content" required>
            <label>Message:</label>
            <input type="text" id="usernameinput" name="Username" required>
            <input id="sub" type="submit" required value="Submit message" >
       </form>
                                                                

    <div id="submissions">
    <h2>Posts:</h2>
    <br>

   
    {% for post in posts %}
    <div id="killyourselfrightnow">
    <p><b>{{post.username}}:</b></p>
    <p>{{post.message}}</p>
    <p id="datetext">Posted on:{{post.date_posted}}</p>
    </div>
    {% endfor %}
    </div>


    <script src="{{ url_for('static', filename='indexjs.js') }}"></script>
    </body>
</html>
<html>