<!DOCTYPE html>
<html lang="en">
    <head>
    <title></title>
    <meta charset="utf-8">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
    </head>

    <h1>Message Board</h1>

    <body>
        <form method="POST" action="/add_message" id="form">
            <label>Message:</label>
            <input type="text" id="usernameinput" name="Username" required>
            <label>Username:</label>
            <input type="text" id="messageinput" name="Content" required>
            <input type="submit">
       </form>
    

    <div id="submissions">
    <h2>Posts:</h2>
    <br>

    
    {% for post in posts %}
    <table id="gets">
        <tr>
            <td>{{post.message}}:</td>
            <td>{{post.username}}</td>
        </tr>
        <br>
    </table>
    {% endfor %}
    </div>


    <script src="{{ url_for('static', filename='indexjs.js') }}"></script>
    </body>
</html>
<html>
