<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link id="lightmode" rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='lightmode.css') }}?version=1" disabled>
    <link id="darkmode" rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='darkmode.css') }}?version=2" disabled>
    <link rel="shortcut icon" href="{{ url_for('static', filename='icon.png') }}">
    <title>Login</title>
</head>
<body>
    <h1 id="middleit">Login</h1>
    
    <form method="POST" action="" id="middleit">
        {{form.hidden_tag()}}
        {{form.username}}
        <br>
        {{form.password}}
        <br>
        {{form.submit}}
    </form>

    <a href="/signup">If you dont have an account you can create an account</a>



    <script>
        if (localStorage.getItem('mode') == "1") 
            {
                document.getElementById("darkmode").disabled = false;
            }
        else {
                document.getElementById("lightmode").disabled = false;
            }

    </script>
</body>
</html>